
<div class="border-start border-5 mx-3">
  <div class="mx-3 align-text-bottom">
    <%= @question %>
    <p>-You</p>
  </div>
</div>

<div id="answer" class="border-start border-5 mx-3">
  <div class="mx-3 align-text-bottom">
    <%= @answer %>
    <p>-Your coach</p>
  </div>
</div>
